* {
	box-sizing: border-box;
}
h1 {
	font-family: "Ubuntu", sans-serif;
}

.top {
	width: 100%;
	height: 100vh;
	background: #0c0e15b4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	margin-bottom: 20px;
}
.titleSplash {
	text-align: center;
	color: white;
}
video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -50;
}
