* {
	box-sizing: border-box;
	
}
::selection {
	background: #ed2d05;
	color: #0c0e15;
}
h1,
h2,
h3,
h4,
h5,
p,
span {
	font-family: "Ubuntu", sans-serif;
	color: white;
}
body {
	background-color: #0c0e15
}
section.top {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
}
.navLogo {
	width: 200px;
}
.logo {
	margin-bottom: 20px;
}
.titleSplash {
	text-align: center;
	color: white;
}

.backDrop{
	background-color: #0c0e15;
	object-fit: cover;
	width: 100%;
height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -190;
}
.videoOverlay{
	color: transparent;
	background-color: #ed2d05;
	object-fit: cover;
	z-index: -10;
	width: 100%;
height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	mix-blend-mode: multiply;
	
}
video {
	background-color: #0c0e15;
	object-fit: cover;
	width: 100%;
height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -50;
	
	
}
h1 {
	color: #ed2d05;
	font-weight: 300;
	font-size: 4rem;
}
.decorativeLine {
	position: relative;
	z-index: 51;
	height: 0.5rem;
	width: 5rem;
	background-color: #ed2d05;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

section.about {
	width: 100%;
	/* height: 450px; */
	background: #0c0e15;
	z-index: 100;
	padding-top: 50px;
	overflow: hidden;
}

nav {
	position: relative;
	top: 0;
	left: 0;
	padding: 30px;
}

.tagline {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}
.tagline span {
	font-family: "EB Garamond", serif;
	text-transform: uppercase;
	letter-spacing: 1rem;
	font-size: 2rem;
	margin: 0px 30px;
	color: #ed2d05;
	font-weight: 100;
}
.square {
	width: 15px !important;
	height: 15px !important;
	animation: loader 6s infinite ease-in-out;
	border: solid #ed2d05 1px;
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.info {
	max-width: 875px;
	font-size: 1.5rem;
	margin: 0px auto;
	margin-bottom: 3rem;
	font-weight: 300;
}
hr {
	background-color: #ed2d05;
	height: 2px;
	opacity: 1;
	margin: 0px;
}

form {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}
label {
	display: none;
}

input {
	font-family: "Ubuntu", sans-serif;
	border-radius: 0px;
}

input {
	height: 55px;
}

input#email {
	background-color: #0c0e15;
	border: solid 1px #ed2d05;
	color: rgba(255, 255, 255, 0.75);
	padding: 0px 30px;
	font-weight: 100;
	font-size: 1.15rem;
}

input#submit {
	background-color: #ed2d05;
	border: solid 1px #ed2d05;
	color: #0c0e15;
	padding: 10px 30px;
	font-weight: 800;
	font-size: 1.25rem;
	text-transform: uppercase;
}
form {
	margin-bottom: 5rem;
}

.logoBack {
	overflow: hidden;
	/* position: relative;
	bottom: 425px; */
	margin-top: -425px;
	margin-bottom: -10px;
	height: 550px;
	opacity: 0.15;
}

.summary {
	position: relative;
	z-index: 50;
	font-size: 18px;
	font-weight: 100;
}

.iconContainer {
	border: solid 1px red;
	height: 65px;
	width: 65px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	rotate: 45deg;
	text-align: right;
	margin-left: auto;
	margin-bottom: 30px;
	margin-top: -80px;
	position: relative;
	z-index: 60;
}

.iconContainer i {
	rotate: -45deg;
	text-decoration: none !important;
}

.iconContainer:hover {
	background-color: #ed2d05;
	transition: background-color.3s ease-in-out;
	cursor: pointer;
}
#linkedin {
	color: #ed2d05;
	transition: color 0.3s ease-in-out;
	text-decoration: none;
}
.iconContainer:hover #linkedin {
	color: #0c0e15;
	transition: color 0.3s ease-in-out;
}
a {
	text-decoration: none !important;
	color: red !important;
}
a:hover {
	text-decoration: none !important;
}

.arrow {
	opacity: 0.33;
	transition: all 0.3s ease;
}
.arrow:hover {
	transition: all 0.3s ease;
	cursor: pointer;
	opacity: 1;
	scale: 1.2;
	rotate: 360deg;
}

.middle {
	display: flex;
	flex-direction: row;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #0c0e15 inset !important;
	-webkit-text-fill-color: white !important;
}

input:focus-visible {
	outline: none;
}
@media screen and (max-width: 1045px) {
	.tagline span {
		font-size: 1.5rem !important;
	}
}

@media screen and (max-width: 991px) {
	section.top{
		height: fit-content;
		padding-top: 200px;
		padding-bottom: 200px ;
	}
	.navLogo {
		width: 125px;
	}
	.iconContainer {
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}

	h1 {
		font-size: 3rem;
	}
	.tagline span {
		font-size: 26px;
		letter-spacing: 13px;
	}

	div.analytics {
		display: flex;
		flex-direction: row;
		text-align: center;
		align-items: center;
		justify-content: center;
	}
	.titleSplash {
		padding: 0px 15px;
	}
	.info {
		font-size: 18px;
		padding: 0px;
	}

	form {
		flex-direction: column;
		margin-bottom: 30px;
	}
	input#submit,
	input#email {
		width: 100%;
		max-width: 500px;
	}
	section.about {
		padding: 35px 15px 3px 15px;

	}
	h2 {
		font-size: 2rem;
	}
	.logoBack {
		height: 600px;
		text-align: center;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		margin-top: -500px;
		margin-bottom: -60px;
	
	}
	.summary {
		text-align: center;
	}
	h2 {
		text-align: center;
	}
	.decorativeLine {
		position: relative;
		z-index: 50;
		margin-left: auto;
		margin-right: auto;

		position: relative;
	}

	.tagline {
		flex-direction: column;
		margin-bottom: 10px;
	}
	.info {
		margin-bottom: 0px;
	}
	h1 {
		margin-bottom: 30px;
	}
	.tagline span,
	div.analytics {
		margin-bottom: 10px;
	}
	.titleSplash {
		margin-top: -125px;
	}
}
